{
  "presets": ["es2015", "react"],
  "plugins": ["transform-object-rest-spread",["import", { 
                                                        "style": "css", 
                                                        "libraryName": "antd-mobile" 
                                                        }]
              ]
}
